<div class="paragraph -big-img">
    <figure class="paragraph__figure">
        <img class="paragraph__img" src="{% path paragraph.media, 'reference' %}" alt="Cap4Learning - image">
        <figcaption class="paragraph__figcaption wysiwyg">
            {{ paragraph.textColumn1 | raw }}
        </figcaption>
    </figure>
</div>