<div class="paragraph -one-col">
    <div class="paragraph__feature">
        {{ paragraph.feature | raw}}
        <div class="paragraph__circles">
            <span class="animated-circle -pink -medium"></span>
            <span class="animated-circle -medium"></span>
        </div>
    </div>

    <div class="paragraph__wrapper">
        <div class="paragraph__col wysiwyg">
            {{ paragraph.textColumn1 | raw}}
        </div>
    </div>
</div>